.gallery-section {
  margin: 1rem 0;
}
.Home-gallery{
  background: #FFF;
  padding: 1rem 0;
}
.Home-gallery h2{
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 300;
}
.gallery-center {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
}

.gallery-center img {
  width: 100%;
  border: 1rem solid #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

@media (min-width: 999px) {
  .gallery-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}
