.footer-section {
  background: #242626;
  padding: 2rem 0.5rem;
  color: #fff;
}
.footer-center {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.footer span {
  font-size: 1.1rem;
  font-weight: 300;
}
.footer-item {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  font-size: 0.9rem;
  font-weight: 300;
}
.footer-item svg {
  margin-right: 0.5rem;
  color: #43D5CB;
}

@media (min-width: 999px) {
  .footer-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}
